---
---

@import 'jekyll-theme-cayman';

.btn {
    color: #ffffff;
}

.btn:hover {
    color: #ffffff;
}

.btn-green {
	background-color:#44c767;
	border:1px solid #18ab29;
	color:#ffffff;
}

.btn-green:hover {
	background-color:#35da61;
}

.btn-red {
	background-color:#f23333;
	border:1px solid #b80000;
	color:#ffffff;
}

.btn-red:hover {
	background-color:#ff0303;
}

.btn-discord {
	background-color:#7289DA;
	border:1px solid #4e6096;
	color:#ffffff;
}

.btn-discord:hover {
	background-color:#476e9e;
}

.page-header {
    background-image: none;
    background-color: #3e3e3e;
}

.project-name {
    text-transform: uppercase;
}